.banner {
    margin: 0 auto;
    max-width: 1024px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.banner img {
    width: 100%;
}

.banner div {
    width: 50%;
    display: flex;
    position: absolute;
    color: white;
    flex-direction: column;
    text-align: center;
}

.banner div h1 {
    letter-spacing: 5px;  
    font-size: 46px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

.banner div p {
    color: goldenrod;
    font-family: 'dancing script', sans-serif;
    font-size: 32px;
}


.secao-cards {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin: 0 auto;
}

.secao-cards div h2 {
    font-family: "dancing script", sans-serif;
    color: goldenrod;
    font-size: 30px;
    text-align: center;    
}

.container-cards {
    background-color: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border-radius: 4px;
    gap: 40px;
}

@media (max-width: 1024px) {
    .banner div p {
      font-size: 28px;
    } 

    .container-principal {
      padding: 20px;
    }
  }

  @media (max-width: 768px){
    .banner div {
      max-width: 60%;
    }

    .banner div h1  {
       font-size: 36px;
    }

    .banner div p {
      font-size: 26px;
    }
  }

  @media (max-width: 550px){
    .banner div h1 {
      font-size: 26px;
    }

    .banner div p {
      font-size: 20px;
    }
  }

