.secao-categorias {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;

}

.container-botoes {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: nowrap;
    width: 100%;
}

.container-botoes button {
    padding: 10px 0;
    flex: 1 1 150px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container-botoes img{
    width: 20px;
    margin-right: 10px;
}

.container-botoes button:hover {
    background-color: goldenrod;
}

.acenderBtn {
    background-color: goldenrod;
  }

@media(max-width: 842px) {
    .container-botoes {
        flex-wrap: wrap;
    }
    
  }